{{ block "admin-page" . }}
<!DOCTYPE html>
<html lang="end">
    <head>
        <title>
            Home page
        </title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                document.body.addEventListener('htmx:beforeSwap', function(evt){
                    if (
                           evt.detail.xhr.status === 422 ||
                           evt.detail.xhr.status === 401 ||
                           evt.detail.xhr.status === 404
                       ) {
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                });
            })
        </script>
    </head>

    <body>
        {{ template "admin-page-body" . }}
    </body>
</html>
{{ end }}

{{ block "admin-page-body" . }}
    <div>
        Greetings, <span style="color: red">Admin</span>. Here are the currently running auctions:
        <div> {{ template "admin-page-auctions" .Rooms }}</div>
    </div>
    <div style="border: 2px solid; border-radius: 3px">
        {{ template "add-auction-form" . }}
    </div>
{{ end }}

{{ block "admin-page-auctions" . }}
    <div>
    {{ range $auction := . }}
        {{ template "admin-auction-entry" $auction }}
    {{ end }}
    </div>
{{ end }}

{{ block "admin-auction-entry" . }}
    <div>
        Auction {{ .Id }}: current bid = {{ .CurrentBid }} <a href="/auction?id={{ .Id }}">Join</a>
    </div>
{{ end }}

{{ block "add-auction-form" . }}
<form hx-swap="outerHTML" hx-post="/create_auction">
    expires <input type="datetime-local" name="ClosesAt">
    <button type="submit">Create</button>
</form>
{{ end }}
