{{ block "auction-page" . }}
<!DOCTYPE html>
<html lang="end">
    <head>
        <title>
            Auction {{ .Room.Id }}
        </title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                document.body.addEventListener('htmx:beforeSwap', function(evt){
                    if (
                           evt.detail.xhr.status === 422 ||
                           evt.detail.xhr.status === 401 ||
                           evt.detail.xhr.status === 404
                       ) {
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                });
            })

            // see https://www.w3schools.com/howto/howto_js_countdown.asp
            function renderCountdown(params, intervalRef, elementId, decrement) {
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(params.millis / (1000 * 60 * 60 * 24));
                var hours = Math.floor((params.millis % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((params.millis % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((params.millis % (1000 * 60)) / 1000);

                // Display the result in the element with id=elementId
                document.getElementById(elementId).innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

                // If the count down is finished, write some text
                if (params.millis < 0) {
                    clearInterval(intervalRef);
                    document.getElementById(elementId).innerHTML = "EXPIRED";
                } 
                params.millis = params.millis - decrement;
            }

            function startCountdown(millis, elementId) {
                var remaining = {millis: millis};  // see https://stackoverflow.com/a/3638034
                var T = 1000;  // period of update -- 1 sec
                var countdown = setInterval(function() {
                    renderCountdown(remaining, countdown, elementId, T)
                }, T)
            }
        </script>

        <!-- <script> -->
        <!--     var loc = window.location; -->
        <!--     var wsUri = "ws://" + loc.host + "/ws" -->
        <!---->
        <!--     ws = new WebSocket(wsUri) -->
        <!--     ws.onopen = function() { -->
        <!--         console.log("Connected to ws at " + wsUri) -->
        <!--     } -->
        <!---->
        <!--     ws.onmessage = function(evt) { -->
        <!--         console.log("msg received: " + evt.data) -->
        <!--     } -->
        <!-- </script> -->
    </head>

    <body>
        <div class="w-[60rem] m-auto">
            {{ template "auction-page-body" . }}
        </div>
    </body>
</html>
{{ end }}

{{ block "auction-page-body" . }}
<div class="w-full">
    <div>
        <p class="pb-2 pt-2">
        Auction {{ .Room.Id }} (expires in <span id="auction-countdown-{{ .Room.Id }}"></span>)
        </p>
    </div>
    <script>startCountdown({{ .Expiration }}, "auction-countdown-{{ .Room.Id }}")</script>
    {{ template "auction-state" .Room }}
    <div hx-ext="ws" ws-connect="/ws?userName={{ .User.Name }}&roomId={{ .Room.Id }}">
        {{ template "bid-form" . }}
    </div>
</div>
{{ end }}

{{ block "auction-state" . }}
    <div id="auction-state">
        <p class="pb-2 pt-2">
        Current highest bidder: {{ .CurrentBidder }}, current bid: <span style="color: red">{{ .CurrentBid }}</span>
        </p>
    </div>
{{ end }}

{{ block "bid-form" . }}
<form 
    ws-send
    class="w-1/2 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
>
    <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="bid">
        Your bid
    </label>
    <input
        type="number"
        name="bid"
        id="bid"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="place your bid"
    >
    </div>
    <!-- <input type="hidden" name="bidderId" value="kek_todo"> -->
    <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
    >
        Bid!
    </button>
</form>
{{ end }}
