{{ block "home-page" . }}
<!DOCTYPE html>
<html lang="end">
    <head>
        <title>
            Home page
        </title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                document.body.addEventListener('htmx:beforeSwap', function(evt){
                    if (
                           evt.detail.xhr.status === 422 ||
                           evt.detail.xhr.status === 401 ||
                           evt.detail.xhr.status === 404
                       ) {
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                });
            })
        </script>
        <script>
            htmx.config.useTemplateFragments = true;
        </script>
    </head>

    <body>
    <div class="w-[60rem] m-auto">
        {{ template "home-page-body" . }}
    </div>
    </body>
</html>
{{ end }}

{{ block "home-page-body" . }}
    <div class="w-full">
        Greetings, <span style="color: red">TODO</span>. Here are the currently running auctions:
        <div hx-ext="ws" ws-connect="/ws_room_updates">
            {{ template "home-page-auctions" .RoomManager.Rooms }}
            {{ if .IsAdmin }}
                <div class="h-[2rem]">
                </div>
                <div class="w-[58rem] m-auto">
                    {{ template "add-auction-form" . }}
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}

{{ block "home-page-auctions" . }}
    <div id="auction_list">
        <table id="auction_list_table" class="w-[60rem] m-auto border-solid border-2">
        <thead>
        <tr>
            <th align="center">Auction id</th>
            <th align="center">Current bid</th>
            <th align="center">Join?</th>
        </tr>
        </thead>
        <tbody id="auction_list_body">
        {{ range $auction := . }}
            {{ template "home-auction-entry" $auction }}
        {{ end }}
        </tbody>
        </table>
    </div>
{{ end }}

{{ block "home-auction-entry" . }}
    <tr id="auction-entry-{{ .Id }}">
        <td align="center">{{ .Id }}</td>
        <td align="center">{{ .CurrentBid }}</td>
        <td align="center"><a href="/auction?id={{ .Id }}">Join</a></td>
    </tr>
{{ end }}

{{ block "add-auction-form" . }}
<form ws-send class="w-1/2 m-auto bg-white shadow-md rounded px-8 pt-4 pb-4">
<!-- <form hx-swap="outerHTML" hx-post="/create_auction"> -->
    <div class="mb-4">
        <div class="mb-1">
            Expires at:
        </div>
        <input type="datetime-local" name="ClosesAt" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <button type="submit" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Create</button>
</form>
{{ end }}

{{ block "appendable-auction-entry" . }}
<!-- need to wrap in tbody tag because otherwise tr will be stripped, see -->
<!-- https://github.com/bigskysoftware/htmx/issues/1043#issuecomment-1510419850 -->
<tbody  hx-swap-oob="beforeend:#auction_list_body">
    <tr id="auction-entry-{{ .Id }}">
        <td align="center">{{ .Id }}</td>
        <td align="center">{{ .CurrentBid }}</td>
        <td align="center"><a href="/auction?id={{ .Id }}">Join</a></td>
    </tr>
</tbody>
{{ end }}
