{{ block "home-page" . }}
<!DOCTYPE html>
<html lang="end">
    <head>
        <title>
            Home page
        </title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                document.body.addEventListener('htmx:beforeSwap', function(evt){
                    if (
                           evt.detail.xhr.status === 422 ||
                           evt.detail.xhr.status === 401 ||
                           evt.detail.xhr.status === 404
                       ) {
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                });
            })
        </script>
        <script>
            htmx.config.useTemplateFragments = true;
        </script>
    </head>

    <body>
        {{ template "home-page-body" . }}
    </body>
</html>
{{ end }}

{{ block "home-page-body" . }}
    <div>
        Greetings, <span style="color: red">TODO</span>. Here are the currently running auctions:
    <div hx-ext="ws" ws-connect="/ws_room_updates">
        {{ template "home-page-auctions" .Rm.Rooms }}
        {{ if .IsAdmin }}
        <div style="border: 2px solid; border-radius: 3px">
            {{ template "add-auction-form" . }}
        </div>
    </div>
    </div>
    {{ end }}
{{ end }}

{{ block "home-page-auctions" . }}
    <div id="auction_list">
        <table id="auction_list_table" style="border: 1px solid">
        <thead>
        <tr>
            <th>Auction id</th>
            <th>Current bid</th>
            <th>Join?</th>
        </tr>
        </thead>
        <tbody id="auction_list_body">
        {{ range $auction := . }}
            {{ template "home-auction-entry" $auction }}
        {{ end }}
        </tbody>
        </table>
    </div>
{{ end }}

{{ block "home-auction-entry" . }}
    <tr id="auction-entry-{{ .Id }}">
        <td>{{ .Id }}</td>
        <td>{{ .CurrentBid }}</td>
        <td><a href="/auction?id={{ .Id }}">Join</a></td>
    </tr>
{{ end }}

{{ block "add-auction-form" . }}
<form ws-send>
<!-- <form hx-swap="outerHTML" hx-post="/create_auction"> -->
    expires <input type="datetime-local" name="ClosesAt">
    <button type="submit">Create</button>
</form>
{{ end }}

{{ block "appendable-auction-entry" . }}
<!-- need to wrap in tbody tag because otherwise tr will be stripped, see -->
<!-- https://github.com/bigskysoftware/htmx/issues/1043#issuecomment-1510419850 -->
<tbody  hx-swap-oob="beforeend:#auction_list_body">
    <tr id="auction-entry-{{ .Id }}">
        <td>{{ .Id }}</td>
        <td>{{ .CurrentBid }}</td>
        <td><a href="/auction?id={{ .Id }}">Join</a></td>
    </tr>
</tbody>
{{ end }}
